#nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    padding: 10px;

    .nav-sub-cat {
        flex: 1;
        display: flex;
        flex-direction: row;
        height: 50px;
        justify-content: center;
        align-items: center;
        border: .5px solid black;
        border-radius: 5px;

        div {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            a {
                text-decoration: none;
            }

            &:hover {
                cursor: pointer;
                background: gray;
            }
        }
    }

    .spe {
        height: 90px;
        div {
            button {
                width: 100%;
                height: 100%;
                background: none;
                border: none;
                font-size: 2rem;

                &:hover {
                    cursor: pointer;
                    background: red;
                }
            }
        }
    }
}